<template>
    <div class="card">
        <h2 v-if="chosenSections==false">Ledige seksjoner</h2>
        <h2 v-else> Legg til flere seksjoner på samme rom</h2>
        <p v-if="sections.length < 1 ">Det er ingen ledige seksjoner som passer</p>
        <p v-if="sections.length < 1 && !chosenSections">Det er ingen ledige seksjoner som passer ditt søk</p>
        <ul class = "sectionlist" v-else>
            <li v-for="section in sections" :key="section.section_id">
                <section-small class="aktivitet" :section="section"></section-small>
                <button class="btn-primary" @click="addSection(section)">Legg til</button>
            </li>
        </ul>
    </div>
</template>

<script>
import SectionSmall from "@/components/admin/SectionSmall.vue";

export default {
  name: "AvailableSections",
  components: {
    "section-small" : SectionSmall
  },
  props: {
    sections : Array,
    chosenSections : Boolean
  },
  methods: {
        addSection(section){
            this.$emit('addSection', section)
        }
  },
  data() {
  },
}
</script>

<style scoped>
.card {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

</style>