<template>
    <div class="card">
        <h2>valgte seksjoner</h2>
        <p v-if="sections.length<1">Du har ikke valgt noen <br>seksjoner foreløpig</p>
        
        <div  v-if="sections.length>=1">
            <p>Klikk på en seksjon for å <br>fjerne den fra listen </p>
            <ul class = "sectionlist">
              <li v-for="section in sections" :key="section.section_id">
                  <section-mini :section="section" @click="removeSection(section)"></section-mini>
              </li>
            </ul>
          <button class="btn-primary" type="submit" @click="reserve">Reserver</button>
        </div>
    </div>
</template>

<script>
import SectionMini from "@/components/user/newReservation/SectionMini.vue"

export default {
  name: "ChosenSections",
  components: {
    "section-mini" : SectionMini
  },
  props: {
    sections : Array
  },
  methods: {
    removeSection(section){
      this.$emit('removeSection', section)
    },
    reserve(){
      this.$emit('reserve')
    }
  },
  data() {
    return {

    }
  },
}
</script>

<style scoped>
 ul {
      list-style-type: none;
      padding: 0;
  }
 p {
     font-size: 10pt; 
     margin-top: -15px;
 }

 @media screen and (max-width: 1400px){
    .card {
      width: 100%;
    }
  }
</style>