<template>
    <div class="card">
        <label for="comment">Kommentar</label>
        <textarea id="comment" type="text" v-model="comment" required placeholder="Jeg har lånt rommet for å..."/>
    </div>
</template>

<script>
export default {
  name: "searchbox",
  props: {
  },
  methods: {
  },
  data() {
    return {
      comment : "",
    }
  }
}
</script>

<style scoped>
.card {
    display: flex;
    align-items: stretch;
}

textarea {
    margin-top: 30px;
    margin-left: -80px; 
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #e5e5e5;
    border-color: transparent;
    font-family: Helvetica, sans-serif;
}

@media screen and (max-width: 1400px){
.card {
    width: 100%;
}
}
</style>