<template>
     <div class="card">
          <form @submit.prevent="submit">
            <div class="form-group">
              <label for="x-date">Dato for reservasjon</label><br>
              <input id="x-date" type="date" :min="today" placeholder="Dato" v-model="date" required>
            </div>
            <div class="form-group">
              <label for="inputMDEx1">Start-tid</label><br>
              <input id="inputMDEx1" type="time" v-model="fromTime" required>
            </div>
            <div class="form-group" >
              <label for="inputMDEx2">Slutt-tid</label><br>
              <input id="inputMDEx2" type="time" v-model="toTime" required>
            </div>

            <div class="form-group">
                <label for="search">Romnavn</label><br>
                <div class="input-group">
                <input
                    type="search"
                    placeholder="Ingen spesielle"
                    id="search"
                    v-on:search="resetSearch"
                    v-on:keyup.enter="search"
                    v-model="roomName">
                    <button type="button" class="btn-primary" @click="search">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-search"
                        viewBox="0 0 16 16"
                        >
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                        />
                    </svg>
                </button>
                </div>
            </div>

            <div class="form-group">
              <label for="noOfSeats">Minimum antall plasser</label><br>
              <input id="noOfSeats" type="number" min="0" placeholder="0" v-model="minNoSeats" required>
            </div>

            <div class="form-group">
            <label for="searchEquipment">Utstyr</label><br>
            <div class="input-group">
            <input
                type="search"
                placeholder="Søk"
                id="searchEquipment"
                v-on:search="resetSearch"
                v-on:keyup.enter="search"
                v-model="equipment">
                <button type="button" class="btn-primary" @click="search">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-search"
                    viewBox="0 0 16 16"
                    >
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                    />
                </svg>
            </button>
            </div>
            </div>
            </form>
        <button class="btn-primary" type="submit" @click="submit">Vis ledige</button>
      
      </div>
</template>

<script>
export default {
  name: "searchbox",
  data() {
    return {
      chosenDate: "",
      fromTime: "",
      toTime: "",
      roomName: "none",
      minNoSeats: 0,
      equipment: []
    }
  },
  computed: {
    today() {
      return new Date().toISOString().split('T')[0]
    }
  },
  props: {
  },
  methods: {
      submit() {  
        /*
        *Find search critera to find available sections with
        *Convertion from Time to sql Time format not optimal, but it works  
        */ 
        if (!this.roomName) this.roomName = "none";
        
        var searchCriteria = {
        "date" : this.date,
        "fromTime" : this.fromTime + ":00",
        "toTime" : this.toTime + ":00", 
        "roomname" : this.roomName,
        "minNoSeats" : this.minNoSeats,
        "equipment" : this.equipment
      } 
        this.$emit('search', searchCriteria)
      }
  }
}
</script>

<style scoped>
.card{
    max-width: 750px;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 20px;
}

.form-group{
    margin-right: 20px;
}
</style>