<template>
  <div class="main-box">
    <div class="card card-wh-sm">
      <div class="info">
        <div class="grow">
          <p>{{ roomName }}</p>
          <p>{{ sectionName }}</p>
        </div>
        <div class="">
          <p>{{ dateFormatted }}</p>
          <p>{{ timeFormatted }}</p>
        </div>
      </div>
    </div>

    <div class="btn-box">
      <button class="btn-primary" @click="remove">Slett</button>
    </div>
  </div>
</template>

<script>
import { Service } from "@/services/Service";
const service = new Service();
const API_ENDPOINT = service.API_ENDPOINT;

export default {
  name: "ReservationSmall",
  props: {
    reservation: {},
    userID: Number
  },
  data() {
    return {
        dateFormatted: '',
        timeFormatted: '',
        roomName: '',
        reservationName: ''
    }
  },
  async mounted() {
    this.formatDate();
    this.formatTime();
    await this.findRoomName();
  },
  methods: {
    remove() {
      console.log('slett ' + this.reservation.reservationID);
      this.$emit('remove'); //, this.reservation.reservationID, this.user.userID);
    },
    formatDate() {
      let year = this.reservation.date.substring(0, 4);
      let month = this.reservation.date.substring(5, 7);
      let day = this.reservation.date.substring(8, 10);
      this.dateFormatted = day + '.' + month + '.' + year;
    },
    formatTime() {
      let from = this.reservation.fromTime.substring(0, 5);
      let to = this.reservation.toTime.substring(0, 5);
      this.timeFormatted = from + ' - ' + to;
    },
    async findRoomName() {
      await service.getData(API_ENDPOINT + `/reservation/${this.reservation.reservationID}/room`)
          .then(res => {
            if (res.status === 200) {
              res.json().then(data => {
                this.roomName = data.roomName;
                console.log(data);
                console.log('id: ' + data.roomID)
              })
            }
          }).catch(err => console.log(err));
    },
    getRoomName() {
      return this.roomName;
    },
    getDateFormatted() {
      return this.dateFormatted;
    }
  }
}
</script>

<style scoped>
.main-box {
  display: flex;
  width: min(100%, 800px);
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 3;
}

.card-wh-sm {
  box-shadow: none;
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
  margin-bottom: 1em;
}

.info {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  margin: auto 0;
  width: 100%;
}
.info p {
  margin: 0.1em 0 0.5em 0;
}
.info p:last-child {
  margin-bottom: 0;
}

.grow {
  width: max(60%, 350px);
}

.btn-box {
  width: fit-content;
  /*margin-left: 5em;*/
  margin: auto 0 auto 1em;
  padding-bottom: 1em;
}

@media screen and (max-width: 900px){
  .info {
    flex-direction: column;
  }
  .info p:last-child {
    margin-bottom: 0.5em;
  }

  .grow {
    width: 100%;
  }
}

@media screen and (max-width: 800px){
  .main-box {
    flex-direction: column;
  }
  .btn-box {
    margin: -0.5em 0 0.1em 0;
    width: 100%;
  }
  .btn-box button {
    margin: 0;
    width: inherit;
  }
}

</style>
