<template>
  <div class="login">

    <div class="card">
      <h1>Velkommen</h1>
      <form>
        <div class="form-group">
          <label for="email">Epostadresse</label><br>
          <input id="email" type="email" v-model="email" placeholder="Epostadresse" />
        </div>
        <div class="form-group">
          <label for="password">Passord</label><br>
          <input id="password" type="password" v-model="password" placeholder="Passord">
        </div>
      </form>

      <button type="submit" class="btn-primary center" @click="logIn">Logg inn</button>
    </div>

    <p>Trenger du bruker?<br>
       Kontakt admin på <br>
       Mail: mail@admin.no <br>
       Tlf: +47 999 99 999</p>

  </div>

</template>

<script>
import { LoginService } from "../services/LoginService.js";
const loginService = new LoginService();

export default {
  name: 'Login',
  data(){
    return {
      email: this.email,
      password: this.password
    }
  },
  methods: {
    logIn() {
      this.errors = [];
          let basic = new String(
            "Basic " + window.btoa(this.email + ":" + this.password).toString()
          );
          loginService.login(basic, this.email);   
      }
  }
}
</script>

<style scoped>
#header {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.2em 1em;
  margin: 0.1em;
  max-width: 100%;
}
.login {
  height: 100%;
}

.card {
  max-width: 300px;
  margin: 6em auto 3em auto;
  height: fit-content;
}

button {
  margin-top: 20px;
}

@media screen and (max-width: 400px){
  .card {
    margin-top: 2em;
  }
}

</style>
