<template>
  <form @submit.prevent="save">
    <div class="rows">
      <div class="form-group">
        <label for="sectionName">Seksjonsnavn</label><br>
        <input id="sectionName" type="text" placeholder="Navn på seksjon" v-model="sectionName" :disabled="disableNameInput" required>
      </div>
      <div class="form-group">
        <label for="noOfSeats">Antall plasser</label><br>
        <input id="noOfSeats" type="number" min="0" placeholder="Antall plasser" v-model="noOfSeats" required>
      </div>
    </div>
    <div class="rows with-btn">
      <div class="form-group">
        <label for="equipment">Utstyr</label><br>
        <autocomplete id="equipment" :suggestions="suggestions" :placeholder="equipPlaceholder"
                      @new-equip="setEquipmentText"></autocomplete>
      </div>
      <div class="form-group" id="noOfFormGroup">
        <label for="noOf">Antall</label><br>
        <input id="noOf" type="number" min="0" placeholder="Antall" v-model="equipment.noOf">
      </div>
      <button type="button" class="btn-primary" @click="addToEquipment">Legg til</button>
    </div>
    <div class="equipment">
      <div class="display-sm" v-for="(equip, index) in equipment" :key="index">
        <p>{{ equip.text }}, {{ equip.noOf }} stk</p>
        <div class="close-btn" @click="removeFromEquipment(index)"></div>
      </div>
    </div>
    <br /><br />
    <button class="btn-primary">Lagre</button>
  </form>
</template>

<script>
import Autocomplete from "@/components/Autocomplete";
import { Service } from "@/services/Service";
const service = new Service();
const API_ENDPOINT = service.API_ENDPOINT;

export default {
  name: "NewSection",
  props: {
    section: {},
    index: Number,
    disableNameInput: Boolean,
  },
  components: {
    "autocomplete": Autocomplete
  },
  data() {
    return {
      sectionName: "",
      noOfSeats: null,
      equipment: [],
      suggestions: [],
      equipPlaceholder: "Navn/beskrivelse",
      equipmentText: ''
    }
  },
  mounted() {
    this.sectionName = JSON.parse(JSON.stringify(this.section.sectionName));
    this.noOfSeats = JSON.parse(JSON.stringify(this.section.noOfSeats));
    this.equipment = JSON.parse(JSON.stringify(this.section.equipment));
    console.log("I mounted")
    console.log(this.equipment)

    //this.suggestions = [{text:"PC", "id": 1}, {text:"Skjerm", "id":2}, {text:"HDMI-adapter", "id":3}];
    service.getData(API_ENDPOINT + "/equipment")
        .then(res => res.json())
        .then(data => {
          console.log(data);
          this.suggestions = data.map(s => s.equipmentDescription);
        })
        .catch(err => console.log(err))
  },
  methods: {
    addToEquipment(e) {
      e.stopPropagation();
      let noOfxxx = document.getElementById("noOf");
      let equip = {"text": this.equipmentText, "noOf": noOfxxx.value};
      this.equipment.push(equip);
      console.log("I addEquip")
      console.log(this.equipment)
    },
    removeFromEquipment(index) {
      this.equipment.splice(index, 1);
    },
    setEquipmentText(text) {
      this.equipmentText = text;
    },
    save() {
      console.log(this.sectionName)
      let updatedSection = {
        "sectionID": this.section.sectionID,
        "sectionName": this.sectionName,
        "roomID": this.section.roomID,
        "noOfSeats": this.noOfSeats,
        "equipment": this.equipment
      };
      console.log('Fra NewSection: ' + this.index)
      console.log(updatedSection)
      this.$emit('update-section', updatedSection, this.index);
    }
  }
}
</script>

<style scoped>
* {
  box-sizing: border-box;
}

.rows {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

form {
  margin: 0;
  width: min(100%, 600px)
}

.rows .form-group:not(:last-child) {
  margin-right: 1em;
  width: 100%;
}
.rows .form-group:first-child {
  width: 68%;
}

form input {
  width: 100%;
}

#noOfFormGroup {
  width: 20%;
}

button {
  height: fit-content;
  min-width: fit-content;
  margin: auto 0 10px 0;
}

.equipment {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 4px;
}
.display-sm {
  border-radius: 20px;
  border: 2px solid var(--pink);
  width: fit-content;
  height: fit-content;
  padding: 10px 15px;
  display: flex;
}
.display-sm p {
  margin: 0 5px 0 0;
}

.close-btn {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: .7;
}
.close-btn:hover,
.close-btn:focus {
  opacity: 1;
  pointer-events: all;
  transition: 0.2s;
}

@media screen and (max-width: 700px) {
  .rows {
    flex-direction: column;
  }
  .with-btn {
    flex-direction: row;
  }

  .rows .form-group:first-child {
    width: 100%;
  }

  #noOfFormGroup {
    width: 40%;
  }

  /* #noOf::placeholder {
     color: transparent;
   }*/

}
</style>