<template>
  <div class="main-box">
    <div class="card card-wh-sm">
      <div class="info">
        <div class="grow">
          <p>{{ user.userFirstName }} {{ user.userLastName }}</p>
          <p>{{ user.userEmail }}</p>
        </div>
        <div class="">
          <p>{{ user.userType }}</p>
          <p>{{ user.userPhone }}</p>
        </div>
      </div>
    </div>

    <div class="btn-box">
      <button class="btn-primary" @click="seeMore">Se mer</button>
    </div>
  </div>

</template>

<script>
export default {
  name: "UserSmall",
  props: {
    user: {}
  },
  methods: {
    seeMore() {
      this.$emit('seeMore');
    }
  }
}
</script>

<style scoped>
.main-box {
  display: flex;
  width: min(100%, 800px);
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 3;
}

.card-wh-sm {
  box-shadow: none;
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
  margin-bottom: 1em;
}

.info {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  margin: auto 0;
  width: 100%;
}
.info p {
  margin: 0.1em 0 0.5em 0;
}
.info p:last-child {
  margin-bottom: 0;
}

.grow {
  width: max(60%, 350px);
}

.btn-box {
  width: fit-content;
  /*margin-left: 5em;*/
  margin: auto 0 auto 1em;
  padding-bottom: 1em;
}

@media screen and (max-width: 900px){
  .info {
    flex-direction: column;
  }
  .info p:last-child {
    margin-bottom: 0.5em;
  }

  .grow {
    width: 100%;
  }
}

@media screen and (max-width: 800px){
  .main-box {
    flex-direction: column;
  }
  .btn-box {
    margin: -0.5em 0 0.1em 0;
    width: 100%;
  }
  .btn-box button {
    margin: 0;
    width: inherit;
  }
}

</style>