:root {
    --pink: #ad0a4b;
    --purple: #93286b;
    --lightgrey: #e5e5e5;
}

/* MAIN THINGS */
.card {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    color: black;
    box-shadow: 5px 5px 10px #93286b;
}

.view-wrapper {
    height: 100%;
}

.card-box {
    margin: 0 2em;
    text-align: left;
}

.hamburger {
    font-size:40px;
    cursor:pointer;
}

@media screen and (min-width: 700px) {
    .view-wrapper {
        margin-left: 300px;
        position: relative;
    }

    .hamburger {
        display: none;
    }
}

/* FORMS */
/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: inherit;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0 1000px var(--lightgrey) inset;
}
/*input:-internal-autofill-selected {
    background-color: red !important;
}*/

form {
    text-align: left;
    margin: 0 auto;
    width: fit-content;
}

input,
form label {
    font-size: 12pt;
    color: black;
}

input {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #e5e5e5;
    border-color: transparent;
}

input:focus {
    outline: none;
    border-radius: 20px;
    box-shadow: 2px 2px 6px #aaa;
}

input::placeholder {
    color: black;
}

/* INPUT-GROUP */
.input-group {
    margin: 0;
    display: flex;
}
.input-group input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: inherit;
    margin: 0;
}
.input-group button,
.input-group button:active,
.input-group button:focus {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
    height: inherit;
}

.input-group input[type="search"]::-webkit-search-cancel-button {
    height: 1.2em;
    width: 1.2em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    opacity: 0;
    pointer-events: none;
}

.input-group input[type="search"]::-webkit-search-cancel-button {
    background-size: contain;
    -webkit-appearance: none;
}

.input-group input[type="search"]:focus::-webkit-search-cancel-button,
.input-group input[type="search"]:hover::-webkit-search-cancel-button {
    opacity: .8;
    pointer-events: all;
    transition: 0.2s;
}

.input-group input[type="search"]::-webkit-search-cancel-button:hover,
.close-btn:hover {
    opacity: 1;
}


/* BUTTONS */
.btn-primary {
    background-color: var(--pink);
    color: white;
    border-radius: 15px;
    border-color: transparent;
    padding: 10px 15px;
    margin: 5px;
    font-size: 12pt;
}

.btn-primary:active {
    border-radius: 15px;
    box-shadow: 2px 2px 6px #93286b;
}
.btn-primary:focus {
    outline: none;
    border-color: #333;
}

/* FONTS */
h1 {
    font-family: Helvetica, sans-serif;
    font-size: 28pt;
}
