<template>
  <div class="wrapper">
    <input type="text" :placeholder="placeholder" v-model="selected"
           @keydown.enter="enter"
           @keydown.up="up"
           @keydown.down="down"
           @input="change">
    <div :class="{'close': hideSuggestions}">
      <ul v-for="(suggestion, index) in suggestionMatches" :key="suggestion" :class="{ activeitem: index === matchesIndex}">
      <li @keydown="setSelected(suggestion)">{{ suggestion }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "Autocomplete",
  props: {
    suggestions: {
      type: Array,
      required: true
    },
    placeholder: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      selected: '',
      allowSuggestions: false,
      matchesIndex: 0
    }
  },
  computed: {
    suggestionMatches() {
      let matches = [];
      for(let i = 0; i < this.suggestions.length; i++) {
        if(this.suggestions[i].toUpperCase().includes(this.selected.toUpperCase())) {
          matches.push(this.suggestions[i]);
        }
      }
      return matches;
    },
    hideSuggestions() {
      return this.selected === "" || this.suggestionMatches.length === 0 || !this.allowSuggestions;
    }
  },
  methods: {
    setSelected(suggestion) {
      this.selected = suggestion;
      this.allowSuggestions = false;
    },
    enter() {
      this.selected = this.suggestionMatches[this.matchesIndex];
      this.allowSuggestions = false;
      this.$emit('new-equip', this.selected);
    },
    up() {
      if(this.matchesIndex !== 0) {
        this.matchesIndex--;
      }
    },
    down() {
      if(this.matchesIndex < this.suggestionMatches.length - 1) {
        this.matchesIndex++;
      }
    },
    change() {
      this.$emit('new-equip', this.selected);
      if(this.allowSuggestions === false) {
        this.allowSuggestions = true;
        this.matchesIndex = 0;
      }
    }
  }
}
</script>

<style scoped>
* {
  box-sizing: border-box;
}
.wrapper {
  position: relative;
}

input {
  width: 100%;
  margin-bottom: 2px;
}
ul {
  list-style: none;
  border: 1px solid var(--pink);
  border-radius: 15px;
  padding: 10px 15px;
  width: inherit;
  margin: 2px 0;
}

.activeitem {
  color: white;
  background-color: #ad0a4b;
}

.close {
  display: none;
}

</style>