<template>
  <div id="main" class="card">
    <h1>Ny setning!!</h1>

    <ul v-for="msgg in messages" :key="msgg">
      <li>{{ msgg }}</li>
    </ul>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu tincidunt augue. In vel nisl at metus mattis vehicula vel in justo. Quisque sagittis ac dui in blandit. Nulla facilisi. Maecenas nec lectus mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. In sed tincidunt mauris. Pellentesque neque ante, rutrum semper nulla at, blandit accumsan leo. Phasellus egestas interdum ligula eget sodales. Aliquam ut justo ac quam consequat sagittis ac quis enim.</p>

    <p>Aenean tristique risus ac libero hendrerit hendrerit. Morbi pretium a urna ac interdum. Nullam elementum dictum massa eu vestibulum. Phasellus eu ultrices elit. Maecenas eu lectus eget ipsum tincidunt rutrum a eget mauris. Ut quis elit quis nunc efficitur tincidunt. Quisque quis nisi eget dui tempus porta quis sit amet mi. Nam malesuada purus nec quam aliquet sollicitudin.</p>

    <p>Sed eu eleifend ipsum, vitae porttitor nunc. Suspendisse enim ligula, blandit sit amet nisi nec, luctus luctus sapien. Ut lacus urna, rutrum id nulla ut, faucibus malesuada nisl. Nullam eleifend, velit non tempus euismod, turpis quam blandit purus, in aliquam tellus lacus sit amet nisl. Vestibulum vehicula purus non tristique porta. Nam sed massa vel nibh suscipit elementum. Etiam fermentum ante sit amet purus consectetur, et porttitor urna sollicitudin. Morbi at tellus convallis, tincidunt nunc sit amet, aliquet urna. Praesent eu ligula tincidunt dolor semper viverra. Duis vitae leo eu tortor dapibus mollis. Cras tempus dignissim varius. Integer volutpat ipsum ac luctus congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sem nisl, lacinia et condimentum vitae, suscipit vitae tellus. Cras et elit vitae ex vulputate fermentum.</p>

    <button class="btn-primary">Vis ledige seksjoner</button>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      msg: '',
      messages: []
    }
  },
  mounted() {
    fetch("/api/messages/hello")
      .then((response) => response.text())
      .then((data) => {
          this.msg = data;
      });
    fetch("api/messages/allMessages")
        .then(res => res.json())
        .then(data => this.messages = data);
  }
}
</script>

<style scoped>
.card {
  max-width: 800px;
  margin: 0 auto;
}

#main h1 {
  color: #ad0a4b;
}

ul {
  list-style: none;
  padding-left: 0;
}
li {
  font-weight: bold;
  text-transform: uppercase;
}

</style>