<template>
  <div class="search-filter">
    <div class="input-group">
      <input
          type="search"
          :placeholder="placeholder"
          id="search"
          v-on:search="resetSearch"
          v-on:keyup.enter="search"
      />
      <button type="button" class="btn-primary" @click="search">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
        >
          <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "InputSearch",
  props: {
    placeholder: String
  },
  methods: {
    search() {
      let searchText = document.getElementById("search").value.toUpperCase();
      this.$emit('search', searchText);
    },
    resetSearch() {
      console.log("Resetter søk")
      this.$emit('resetSearch');
    }
  }
}
</script>

<style scoped>
* {
  box-sizing: border-box;
}
.search-filter {
  margin-bottom: 1em;
}
</style>