<template>
  <div class="view-wrapper">
    <sidebar name="Admin" ref="sidebar"></sidebar>
    <div class="card-box">
      <span class="hamburger" @click="open">&#9776;</span>
      <h1>MIN PROFIL</h1>
    </div>
  </div>
</template>

<script>
import SidebarUser from "@/components/user/SidebarUser";

export default {
  name: "My Profile",
  components: {
    "sidebar": SidebarUser,  
  },
  data() {
    return {
    }
  },
  mounted() {
  },
  methods: {
    open() {
      this.$refs.sidebar.openNav();
    }
  }
}
</script>

<style scoped>
</style>