<template>
  <div class="view-wrapper">
    <sidebar name="User" ref="sidebar"></sidebar>
    <div class="card-box">
      <span class="hamburger" @click="open">&#9776;</span>
      <h1>MINE RESERVASJONER</h1>
      <div class="card">
        <!--<search :placeholder=placeholderText @search="search" @resetSearch="resetTheSearch"></search>-->
        <div class="reservations-box" v-for="(reservation, index) in reservations" :key="index">
          <p><reservation :ref="setRef" :reservation="reservation" :userID="reservation.userID" @remove="remove(reservation.reservationID, reservation.userID)"></reservation></p>
        </div>
        <p v-if="reservations.length < 1"> Du har ingen reservasjoner </p>
      </div>
    </div>
  </div>
</template>

<script>
import SidebarUser from "@/components/user/SidebarUser";
import MyReservationSmall from "@/components/user/myReservations/MyReservationSmall";
import { ReservationService } from "@/services/ReservationService";
const service = new ReservationService();


export default {
  name: "My Reservations",
  components: {
    "sidebar": SidebarUser,
    "reservation": MyReservationSmall  
  },
  data() {
    return {
      text: 'Dust',
      reservations: [],
      theRefs: []

    }
  },
   async created() {
    this.reservations = await service.getMyReservations(); 
    console.log("hentet inn mine reservasjoner ", this.reservations); 

  },

  mounted() {
  },
  methods: {
    open() {
      this.$refs.sidebar.openNav();
    },
    getUser(userID) {
      return this.users.filter(s => s.userID === userID)[0];
    },
    remove(reservationID) {
      service.removeReservation(reservationID);
      location.reload(); 
      alert("Du har fjernet reservasjonen")
    },
    setRef(el) {
      console.log("setRef")
      console.log(el)
      if(el) this.theRefs.push(el);
    },
    beforeUpdate() {
      console.log('I beforeUpdate')
      //this.theRefs = []
    },
    updated() {
      console.log(this.theRefs)
    }
  }
}
</script>

<style scoped>
* {
  box-sizing: border-box;
}

.reservations-box p {
  margin-block-start: 0.2em;
  margin-block-end:  0.2em;
}
</style>