<template>
  <div class="view-wrapper">
    <sidebar name="user" ref="sidebar"></sidebar>
    <div class="card-box">
      <span class="hamburger" @click="open">&#9776;</span>
      <h1>Ny reservasjon</h1>
      <div class="rows">
        <commentbox class="first" v-if="sectionChosen" v-bind:comment="comment"></commentbox>
        <searchbox class="first" v-else @search="search($event)"></searchbox>
        <chosen-sections v-bind:sections="chosenSections" 
        @removeSection="removeSection($event)" @reserve="reserve($event)">
        </chosen-sections>
        <available-sections 
          v-bind:sections="availableSections" v-bind:chosenSections="chosenSections" 
          @addSection="addSection($event)" v-if="showAvailableSections">
        </available-sections>
      </div>
      
   
    </div>
  </div>
</template>

<script>
import SidebarUser from "@/components/user/SidebarUser";
import Searchbox from '@/components/user/newReservation/Searchbox.vue';
import ChosenSections from '@/components/user/newReservation/ChosenSections.vue';
import Commentbox from '@/components/user/newReservation/Commentbox.vue';
import AvailableSections from '@/components/user/newReservation/AvailableSections.vue';
import { SectionService } from "@/services/SectionService.js";
import store from "@/store/index.js";
const sectionService = new SectionService();

export default {
  name: "New Reservation",
  components: {
    "sidebar" : SidebarUser,
    "searchbox" : Searchbox,
    "chosen-sections" : ChosenSections,
    "available-sections" : AvailableSections,
    "commentbox" : Commentbox 
  },
  data() {
    return {
      chosenSections : [],
      availableSections : [],
      hiddenSections: [],
      reservations: [],
      searchCriteria: [],
      showAvailableSections: false,
      sectionChosen: false,
      chosenDate: "",
      chosenFromTime: "",
      chosenToTime: "",
      comment: "",
      noPeople: ""
    }
  },
  mounted() {
  },
  methods: {
    open() {
      this.$refs.sidebar.openNav();
    },
    removeSection(section){
      this.chosenSections.splice(this.chosenSections.indexOf(section),1);
      this.availableSections.push(section);
      if(this.chosenSections < 1) {
        this.showAllAvailableSections();
        this.sectionChosen = false; 
      }
    },
    addSection(section){
      this.chosenSections.push(section);   
      this.availableSections.splice(this.availableSections.indexOf(section),1);
      this.showCorrectSectionsOnly(section);
      this.sectionChosen = true; 
    },
    /*
    * When one section is chosen,
    * only section from same room can be added as well.
    * This method hides sections from other rooms
    */
    showCorrectSectionsOnly(chosenSection){
      var sameRoomID = []; 
      for(var i = 0; i < this.availableSections.length; i++) {
        if(chosenSection.roomID != this.availableSections[i].roomID){
          this.hiddenSections.push(this.availableSections[i]);  
        }
        else{
          sameRoomID.push(this.availableSections[i])
        }     
        this.availableSections.splice(this.availableSections[i],1);
        i--;
      }
      this.availableSections = sameRoomID; 
    },
    /*
    * If chosen sections are removed,
    * all available sections should display again,
    * also from hidden sections 
    */
    showAllAvailableSections(){
      for(var i = 0; i < this.hiddenSections.length; i++) {
          this.availableSections.push(this.hiddenSections[i]);  
          this.hiddenSections.splice(this.hiddenSections[i],1);
          i--;
      }
    },
    /*
    * Search for available
    * sections based on search criterias 
    */
    async search(searchCriteria) {
      this.showAvailableSections = true;
      this.searchCriteria = searchCriteria; 
      this.availableSections  = await sectionService.search(searchCriteria); 
    },

    /* 
    *try to make reservation of chosen sections 
    */
    reserve(){
      var sectionIDs = []; 
      for(var section in this.chosenSections){
        sectionIDs.push(this.chosenSections[section].sectionID); 
      }
      var reservationObject = {
        "date": this.searchCriteria.date,
        "fromTime": this.searchCriteria.fromTime,
        "toTime": this.searchCriteria.toTime,
        "comment" : this.comment,
        "userID" : store.getters.getID,
        "noPeople" : this.noPeople,
        "sectionIDs" : sectionIDs
      }
      var reservationOk = sectionService.reserve(reservationObject); 

      if(reservationOk){
        alert("Good! redirect til mine reservajoner")
        this.$router.push("http://localhost:8080/myReservations")
      }
      else{
        alert("noe gikk galt, vennligst prøv igjen")
     }
    }
  }
}
</script>

<style scoped>

.rows{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.first {
    margin-right: 20px;
}
</style>
