<template>
  <div class="view-wrapper">
    <sidebar name="Admin" ref="sidebar"></sidebar>
    <div class="card-box">
      <span class="hamburger" @click="open">&#9776;</span>
      <h1>Rediger bruker</h1>
      <div class="card">
        <p>Skal redigere bruker</p>
      </div>
    </div>
  </div>
</template>

<script>
import SidebarAdmin from "@/components/admin/SidebarAdmin";
import { Service} from "@/services/Service";
const service = new Service();
const API_ENDPOINT = service.API_ENDPOINT;

export default {
  name: "EditUser",
  components: {
    "sidebar": SidebarAdmin
  },
  mounted() {
    this.$refs.sidebar.makeActive("Brukere");

    service.getData(API_ENDPOINT + "/user/" + this.$route.params.id)
        .then(res => {
          if(res.status === 200) {
            res.json().then(data => console.log(data));
          }
        })
  },
  methods: {
    open() {
      this.$refs.sidebar.openNav();
    },
  }
}
</script>

<style scoped>

</style>