<template>
  <div class="view-wrapper">
    <sidebar name="Admin" ref="sidebar"></sidebar>
    <div class="card-box">
      <span class="hamburger" @click="open">&#9776;</span>
      <h1>Rediger reservasjon</h1>
      <div class="card">
        <p>reservationID på reservasjon som skal redigeres er {{ id }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import SidebarAdmin from "@/components/admin/SidebarAdmin";
import { Service} from "@/services/Service";
const service = new Service();
const API_ENDPOINT = service.API_ENDPOINT;

export default {
  name: "EditReservation",
  components: {
    "sidebar": SidebarAdmin
  },
  data() {
    return {
      id: null
    }
  },
  mounted() {
    this.id = this.$route.params.id;
    this.$refs.sidebar.makeActive("Reservasjoner");

    service.getData(API_ENDPOINT + "/reservation/" + this.$route.params.id)
        .then(res => {
          if(res.status === 200) {
            res.json().then(data => {
              console.log(data);
            })
          }
        })
  },
  methods: {
    open() {
      this.$refs.sidebar.openNav();
    },
  }
}
</script>

<style scoped>
* {
  box-sizing: border-box;
}

</style>