<template>
  <div class="view-wrapper">
    <sidebar name="Admin" ref="sidebar"></sidebar>
    <div class="card-box">
      <span class="hamburger" @click="open">&#9776;</span>
      <h1>Nytt rom</h1>
      <div class="card">
        <form @submit.prevent="showTheSections">
          <div class="rows">
            <div class="form-group">
              <label for="roomName">Romnavn</label><br>
              <input id="roomName" type="text" placeholder="Navn på rom" v-model="roomName" required>
            </div>
            <div class="form-group">
              <label for="noOfSections">Antall seksjoner</label><br>
              <input id="noOfSections" type="number" min="0" placeholder="Antall seksjoner" v-model="noOfSections" required>
            </div>
          </div>

          <button class="btn-primary">Gå videre</button>
        </form>
      </div>

      <div class="card" v-show="showSections">
        <nav>
          <p @click="displaySectionGoLeft">&#10094;</p>
          <ul v-for="index in sections.length" :key="index">
            <li @click="updateDisplaySection(displaySection, index - 1)" :class="{ clicked: index - 1 === displaySection}">{{ index }}</li>
            <li v-if="index !== sections.length" class="nohover"> | </li>
          </ul>
          <p @click="displaySectionGoRight">&#10095;</p>
        </nav>
        <div class="sections-box" v-for="(sec, index) in sections" :key="index">
          <NewSection v-if="index === displaySection" :section="sec" :index="index" :disableNameInput="disableNameInput" @update-section="updateSection"></NewSection>
        </div>

        <button class="btn-primary" @click="addToDB">Registrer rom</button>
      </div>

     </div>
  </div>
</template>

<script>
import SidebarAdmin from "@/components/admin/SidebarAdmin";
import NewSection from "@/components/admin/NewSection";
import { Service } from "@/services/Service";
const service = new Service();
const API_ENDPOINT = service.API_ENDPOINT;

export default {
  name: "NewRoom",
  components: {
    "sidebar": SidebarAdmin,
    NewSection
  },
  data() {
    return {
      roomName: '',
      roomID: null,
      noOfSections: null,
      showSections: false,
      sections: [],
      displaySection: 0,
      disableNameInput: false,
      roomFromDB: []
    }
  },
  methods: {
    showTheSections() {
      // Er rom navn ledig?
      let room = { "roomID": this.roomID, "roomName": this.roomName };
      service.getData(API_ENDPOINT + "/room/" + room.roomName)
          .then(res => {
            console.log(res.status)
            if(res.status === 200) {
              alert('Navn allerede i bruk')
            } else {
              // vis seksjoner
              this.showSections = true;
              this.disableNameInput = false;
              this.sections = [];
              for(let i = 0; i < this.noOfSections; i++) {
                let section = { "sectionID": null, "sectionName": "", "roomID": null, "noOfSeats": null, "equipment": []};
                this.sections.push(section);
              }
              if(this.sections.length === 1) {
                this.sections[0].sectionName = 'Hele rommet';
                this.disableNameInput = true;
              }
            }
          });

    },
    findDuplicates() {
      let arr = this.sections.map(s => s.sectionName);
      let duplicates = arr.filter((item, index) => arr.indexOf(item) !== index)
      console.log(duplicates)
      return duplicates;
    },
    addSectionsToDB() {
      if(this.findDuplicates().length > 0) {
        alert('Seksjonene må ha ulike navn')
        return
      }

        console.log('Inne i addToDB - har lagt til rommet');
        console.log(this.roomFromDB.roomID)
        let stop = false;
        for(let i = 0; i < this.sections.length; i++) {
          let section = {
            "sectionID": null,
            "sectionName": this.sections[i].sectionName,
            "roomID": this.roomFromDB.roomID,
            "noOfSeats": this.sections[i].noOfSeats
          };
          service.postData(API_ENDPOINT + "/section", section).then(res => {
            if(res.status === 201) {
              console.log('Seksjon lagret');
              res.json().then(data => {
                console.log('Fra lagret: ')
                this.sections[i].sectionID = data;
              })
            } else {
              alert('Feilet');
              throw "Stop. Noe feilet med section " + section;
            }
          }).then(async () => {
            await new Promise((r) => setTimeout(r, 1000));
            console.log(this.sections[i].sectionID);
            for(let j = 0; j < this.sections[i].equipment.length; j++) {
              let databody = {
                "equipmentDescription": this.sections[i].equipment[j].text,
                "sectionID": this.sections[i].sectionID,
                "numberOf": this.sections[i].equipment[j].noOf
              };
              console.log(databody);
              service.postData(API_ENDPOINT + "/equipmentSection",databody)
                  .then(res => {
                    if(res.status === 400) {
                      console.log('Utstyr lagret på seksjon');
                    }
                  });
            }

          }).catch(err => {
            stop = true;
            console.log(err)
          });

          if(stop) break;
        }
        console.log('Ferdig med å lagre i db')
        alert('Rommet ble lagret!')
        this.$router.push("http://localhost:3000/roomsAndSections");

    },
    addToDB() {
      let room = { "roomID": null, "roomName": this.roomName };
      //let bad = false;
      service.postData(API_ENDPOINT + "/room", room)
          .then(res => {
            console.log(res.status)
            if(res.status === 400) {
              throw '400 i starten';
            } else if(res.status === 201) {
              console.log('La til nytt rom i DB')
            }
          }).then(() => {
            service.getData(API_ENDPOINT + "/room/" + this.roomName)
                .then(res => {
                  console.log(res)
                  res.json()
                      .then(data => {
                        console.log(data);
                        this.roomFromDB = data;
                      });
                })
          })
          .then(async () => {
            await new Promise((r) => setTimeout(r, 1000));
            this.addSectionsToDB();
          })
          .catch(err => console.log(err));

    },
    updateSection(e, i) {
      console.log('oppdatere...' + i)
      console.log(e);
      this.sections[i] = e;
    },
    updateDisplaySection(old, newOne) {
      this.displaySection = newOne;
    },
    displaySectionGoLeft() {
      this.displaySection > 0 ? this.displaySection-- : this.displaySection;
    },
    displaySectionGoRight() {
      if(this.displaySection < this.sections.length - 1) {
        this.displaySection++;
      }
    }
  }
}
</script>

<style scoped>
* {
  box-sizing: border-box;
}

.rows {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

form {
  margin: 0;
  width: min(100%, 600px)
}

.rows .form-group:not(:last-child) {
  margin-right: 1em;
  width: 100%;
}
.rows .form-group:first-child {
  width: 68%;
}

form input {
  width: 100%;
}

button {
  height: fit-content;
  min-width: fit-content;
  margin: auto 0 10px 0;
}

nav {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
ul {
  list-style: none;
  padding-left: 0;
  display: inline-flex;
}


ul li {
  display: inline-block;
  font-weight: bold;
  margin: 0 5px;
  width: 20px;
}
li:hover,
nav > p:hover {
  color: #ad0a4b;
  cursor: pointer;
}
.nohover:hover {
  pointer-events: none;
  color: inherit;
}

.clicked {
  color: var(--pink);
  text-decoration: underline var(--pink);
  text-underline-offset: 3px;
}
nav > p {
  width: 20px;
}

@media screen and (max-width: 700px) {
  .rows {
    flex-direction: column;
  }

  .rows .form-group:first-child {
    width: 100%;
  }

}

</style>