<template>
  <div class="view-wrapper">
    <sidebar name="Admin" ref="sidebar"></sidebar>
    <div class="card-box">
      <span class="hamburger" @click="open">&#9776;</span>
      <h1>Ny bruker</h1>
      <div class="card">
        <div class="first-level-box">
          <form @submit.prevent="register">
            <div class="form-group">
              <label for="firstName">Fornavn</label><br>
              <input id="firstName" type="text" placeholder="Fornavn" v-model="firstName" required>
            </div>
            <div class="form-group">
              <label for="lastName">Etternavn</label><br>
              <input id="lastName" type="text" placeholder="Etternavn" v-model="lastName" required>
            </div>
            <div class="form-group">
              <label for="email">Epostadresse</label><br>
              <input id="email" type="email" placeholder="Epostadresse" v-model="email" required>
            </div>
            <div class="form-group">
              <label for="mobile">Mobil</label><br>
              <input id="mobile" type="number" placeholder="Mobil" v-model="mobile" required>
            </div>
            <div class="form-group">
              <label for="x-date">Bruker gyldig t.o.m.</label><br>
              <input id="x-date" type="date" :min="today" placeholder="Dato" v-model="validTo" required>
            </div>

            <fieldset>
              <label>Velg én type</label>
              <div class="form-group">
                <input id="user" type="checkbox" v-model="role" value="bruker" @change="onlyOne">
                <label for="user">Bruker</label>
              </div>
              <div class="form-group">
                <input id="admin" type="checkbox" v-model="role" value="admin" @change="onlyOne">
                <label for="admin">Administrator</label>
              </div>
              <p v-if="displayRoleMissing">Du må velge en type for brukeren!</p>
            </fieldset>

            <button class="btn-primary" type="submit">Registrer bruker</button>

          </form>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import SidebarAdmin from "@/components/admin/SidebarAdmin";
export default {
  name: "NewUser",
  components: {
    "sidebar": SidebarAdmin,
  },
  data() {
    return {
      firstName: null,
      lastName: null,
      email: null,
      mobile: null,
      validTo: null,
      role: [],
      displayRoleMissing: false,
      today: null
    }
  },
  created: function () {
    this.today = new Date().toISOString().split('T')[0];
  },
  methods: {
    async register() {
      if(this.role.length === 0) {
        this.displayRoleMissing = true;
      }else if(this.mobile.length !== 8) {
        alert('Ugyldig mobilnummer ');
      }else {
        console.log('registrerer bruker')
        console.log(this.$data)
        await fetch("http://localhost:8080/api/user", {
          method: "POST", // *GET, POST, PUT, DELETE, etc.
          mode: "cors", // no-cors, *cors, same-origin
          cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
          credentials: "same-origin", // include, *same-origin, omit
          headers: {
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          redirect: "follow", // manual, *follow, error
          referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url

          body: JSON.stringify({
            'userFirstName': this.firstName.toString(),
            'userLastName': this.lastName.toString(),
            'userEmail': this.email.toString(),
            'userPhone': this.mobile,
            'validTo': this.validTo + 'T00:00:00',
            'userType': this.role[0]
          })}).then(res => res.json())
              .then(res => {
                console.log(res)
                if(res.status === 201) {
                  alert('Ny bruker registrert!');
                  this.$router.push("http://localhost:3000/users");
                }
              }).catch(err => alert(err));
      }
    },
    open() {
      this.$refs.sidebar.openNav();
    },
    onlyOne() {
      console.log(this.role.length);
      if(this.role.length > 0) {
        this.displayRoleMissing = false;
      }
      if(this.role.length > 1) {
        this.role.shift();
      }
    }
  }
}
</script>

<style scoped>
* {
  box-sizing: border-box;
}

.first-level-box {
  width: min(100%, 600px);
}

form {
  margin: 0;
  width: 100%;
}
form input{
  width: 100%;
}
form input[type=checkbox] {
  width: fit-content;
}

button {
  height: fit-content;
  width: fit-content;
}

fieldset {
  border: none;
  padding-left: 0;
}
fieldset p {
  font-weight: bold;
  color: var(--pink);
}

</style>