<template>
  <div class="view-wrapper">
    <sidebar name="Admin" ref="sidebar"></sidebar>
    <div class="card-box">
      <span class="hamburger" @click="open">&#9776;</span>
      <h1>Reservasjoner</h1>
      <div class="card">
        <search :placeholder=placeholderText @search="search" @resetSearch="resetTheSearch"></search>

        <div class="reservations-box" v-for="(reservation, index) in reservations" :key="index">
          <p><reservation :ref="setRef" :reservation="reservation" :userID="reservation.userID" @edit="editOne(reservation.reservationID, reservation.userID)"></reservation></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SidebarAdmin from "@/components/admin/SidebarAdmin";
import InputSearch from "@/components/InputSearch";
import ReservationSmall from "@/components/admin/ReservationSmall";
import { Service} from "@/services/Service";
const service = new Service();
const API_ENDPOINT = service.API_ENDPOINT;

export default {
  name: "Reservations",
  components: {
    "sidebar": SidebarAdmin,
    "search": InputSearch,
    "reservation": ReservationSmall
  },
  data() {
    return {
      placeholderText: 'Søk etter reservasjoner her ...',
      text: 'Dust',
      reservations: [],
      reservationsAll: [],
      theRefs: []
    }
  },
  async created() {

    await service.getData(API_ENDPOINT + "/reservations")
        .then(res => {
          if(res.status === 200) {
            res.json()
                .then(data => { this.reservationsAll = data; console.log(data)})
                .then(() =>this.reservations = JSON.parse(JSON.stringify(this.reservationsAll)))
          }
        }).catch(err => console.log(err));


  },
  methods: {
    open() {
      this.$refs.sidebar.openNav();
    },
    search(searchText) {
      console.log('søk...');
      //let searchText = document.getElementById("search").value.toUpperCase();
      this.reservations = [];
      console.log(searchText)
      if(searchText === "") {
        this.resetTheSearch();
        return;
      }
      for(let i = 0; i < this.reservationsAll.length; i++) {
        this.$nextTick(() => {
          console.log('I search v')
          //const target_copy = Object.assign({}, this.theRefs[i]);
          console.log(this.theRefs[0].getFullName())
          let fullName = this.theRefs[i].getFullName().toUpperCase();
          let roomName = this.theRefs[i].getRoomName().toUpperCase();
          if(fullName.includes(searchText) ||
              roomName.includes(searchText) ||
              this.theRefs[i].getDateFormatted().includes(searchText)) {
            this.reservations.push(this.reservationsAll[i]);
          }
        })
      }
    },
    resetTheSearch() {
      console.log('reset søk...')
      console.log(this.reservationsAll[1])
      this.reservations = [];
      for(let i = 0; i < this.reservationsAll.length; i++) {
        this.reservations.push(this.reservationsAll[i]);
      }
    },
    getUser(userID) {
      return this.users.filter(s => s.userID === userID)[0];
    },
    editOne(reservationID) {
      console.log('Redigere reservasjon ' + reservationID);
      this.$router.push({
        redirect: (window.location.href = `http://localhost:3000/editReservation/${reservationID}`),
      });
    },
    setRef(el) {
      console.log("setRef")
      console.log(el)
      if(el) this.theRefs.push(el);
    }
  },
  beforeUpdate() {
    console.log('I beforeUpdate')
    //this.theRefs = []
  },
  updated() {
    console.log(this.theRefs)
  }
}
</script>

<style scoped>
* {
  box-sizing: border-box;
}

.reservations-box p {
  margin-block-start: 0.2em;
  margin-block-end:  0.2em;
}

</style>