<template>
  <div class="view-wrapper">
    <sidebar name="Admin" ref="sidebar"></sidebar>
    <div class="card-box">
      <span class="hamburger" @click="open">&#9776;</span>
      <h1>Rom og seksjoner</h1>
      <div v-if="isReady">
        <div class="card" v-for="(room, index) in rooms" :key="room.roomID">
          <h3>{{ room.roomName }}</h3>
          <div v-for="(section, index2) in sectionsForRoom[index].sections" :key="index2">
            <p><strong>Seksjon:</strong> {{ section.sectionName }}, {{ section.noOfSeats }} antall plasser</p>
          </div>
          <button class="btn-primary" @click="editRoom(room.roomID)">Rediger rom</button>
        </div>
      </div>
      <p v-else>Laster rom og seksjoner...</p>
    </div>
  </div>
</template>

<script>
import SidebarAdmin from "@/components/admin/SidebarAdmin";
import { Service} from "@/services/Service";
const service = new Service();
const API_ENDPOINT = service.API_ENDPOINT;

export default {
  name: "Rooms And Sections",
  components: {
    "sidebar": SidebarAdmin
  },
  data() {
    return {
      isReady: false,
      rooms: [],
      roomsAll: [],
      sectionsForRoom: []
    }
  },
  async mounted() {
    // getAllRooms /rooms
     await service.getData(API_ENDPOINT + "/rooms")
        .then(res => {
          if(res.status === 200) {
            res.json().then(data => {
              this.roomsAll = data;
              this.rooms = JSON.parse(JSON.stringify(this.roomsAll))
            })
          }
        }).then(async () => {
          await new Promise(r => setTimeout(r, 200));
          console.log(this.roomsAll.length)
          for(let i = 0; i < this.roomsAll.length; i++) {
            // getAllSectionsForRoom {roomID}/sections
            await this.loadSectionsForRoom(this.roomsAll[i].roomID);
          }
        }).then(() => this.isReady = true)
         .catch(err => console.log(err));


  },
  methods: {
    async loadSectionsForRoom(roomID) {
      await service.getData(API_ENDPOINT + "/" + roomID + "/sections")
          .then(res => {
            if(res.status === 200) {
              res.json().then(data => {
                if(data === null) data = ["Ingen seksjoner funnet"];
                let obj = { "roomID": roomID, "sections": data }
                console.log('Henter seksjoner')
                console.log(obj)
                this.sectionsForRoom.push(obj);
              })
            }
          }).catch(err => console.log(err));
    },
    editRoom(roomID) {
      console.log('Redigere rom ' + roomID);
      this.$router.push({
        redirect: (window.location.href = `http://localhost:3000/editRoom/${roomID}`),
      });
    }
  }
}
</script>

<style scoped>
button {
  margin-left: 0;
}
</style>