<template>
  <div class="view-wrapper">
    <sidebar name="Admin" ref="sidebar"></sidebar>
    <div class="card-box">
      <span class="hamburger" @click="open">&#9776;</span>
      <h1>Statistikk</h1>
      <div class="card">
        <p>Her kommer mer ...</p>
      </div>
    </div>
  </div>
</template>

<script>
import SidebarAdmin from "@/components/admin/SidebarAdmin";
export default {
  name: "Statistics",
  components: {
    "sidebar": SidebarAdmin
  }
}
</script>

<style scoped>

</style>