<template>
  <div class="view-wrapper">
    <sidebar name="Admin" ref="sidebar"></sidebar>
    <div class="card-box">
      <span class="hamburger" @click="open">&#9776;</span>
      <h1>Brukere</h1>
      <div class="card">
        <search :placeholder=placeholderText @search="search" @resetSearch="resetSearch"></search>

        <div class="users-box" v-for="user in users" :key="user.userID">
          <p><user :user="user" @seeMore="seeMore(user.userID)"></user></p>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import SidebarAdmin from "@/components/admin/SidebarAdmin";
import UserSmall from "@/components/admin/UserSmall";
import InputSearch from "@/components/InputSearch";
import { Service } from "@/services/Service";
const service = new Service();
const API_ENDPOINT = service.API_ENDPOINT;

export default {
  name: "Users",
  components: {
    "sidebar": SidebarAdmin,
    "user": UserSmall,
    "search": InputSearch
  },
  data() {
    return {
      users: [],
      usersAll: [],
      placeholderText: 'Søk etter personer her ...'
    }
  },
  mounted() {
    // Hente inn brukere
    service.getData(API_ENDPOINT + "/user")
        .then(res => res.json()).then(data => {
          console.log(data)
          this.usersAll = data;
          console.log(this.usersAll)
        }).then(() => this.users = JSON.parse(JSON.stringify(this.usersAll)))
        .catch(err => console.log(err));

    console.log(this.users)
  },
  methods: {
    open() {
      this.$refs.sidebar.openNav();
    },
    seeMore(userID) {
      console.log('Vil se mer om bruker ' + userID);
      this.$router.push({
        redirect: (window.location.href = `http://localhost:3000/editUser/${userID}`),
      });
    },
    search(searchText) {
      //let searchText = document.getElementById("search").value.toUpperCase();
      this.users = [];
      for(let i = 0; i < this.usersAll.length; i++) {
        let fullName = this.usersAll[i].userFirstName + ' ' + this.usersAll[i].userLastName;
        fullName = fullName.toUpperCase();
        if(fullName.includes(searchText) ||
            this.usersAll[i].userEmail.toUpperCase().includes(searchText) ||
            this.usersAll[i].userPhone.toString().includes(searchText)) {
          this.users.push(this.usersAll[i]);
        }
      }
    },
    // Show all attendants again
    resetSearch() {
      this.users = [];
      for(let i = 0; i < this.usersAll.length; i++) {
        this.users.push(this.usersAll[i]);
      }
    }

  }
}
</script>

<style scoped>
* {
  box-sizing: border-box;
}

.users-box p {
  margin-block-start: 0.2em;
  margin-block-end:  0.2em;
}

</style>