<template>
  <div class="sidebar" id="mySidenav">
    <p id="closebtn" class="closebtn" @click="closeNav">&times;</p>
    <h1 id="greeting">Hei, {{ theName }}!</h1>
    <ul id="links">
      <li><router-link :to="{ name: 'NewReservation'}">Ny reservasjon</router-link></li>
      <li><router-link :to="{ name: 'RoomSchedule' }">Se romtimeplan</router-link></li>
      <li><router-link :to="{ name: 'MyReservations' }">Mine reservasjoner</router-link></li>
      <li><router-link :to="{ name: 'MyProfile' }">Min profil</router-link></li>
      <li><router-link to="/" @click="logout">Logg ut</router-link></li>
    </ul>
  </div>
</template>

<script>
import store from "@/store";

export default {
  name: "SidebarAdmin",
  props: {
    name: String
  },
  computed: {
    theName() {
      return store.getters.getName;
    }
  },
  methods: {
    logout() {
      console.log('logg ut')
    },
    openNav() {
      const sidenav = document.getElementById("mySidenav");
      sidenav.style.width = "300px";
      sidenav.style.paddingLeft = "10px";
    },
    closeNav() {
      const sidenav = document.getElementById("mySidenav");
      sidenav.style.width = null;
      sidenav.style.paddingLeft = null;
    }
  }
}
</script>

<style scoped>
.sidebar {
  background-color: var(--lightgrey);
  width: 300px;
  height: 100vh;
  padding-left: 10px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  text-align: left;
  transition: 0.5s;
}

.closebtn {
  margin: 0.4em 0.3em 0;
  width: 100%;
  color: black;
  font-weight: bold;
  float: right;
  text-align: right;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: var(--pink);
}

ul {
  list-style: none;
  padding-left: 0;
  transition: 0.3s;
  margin-top: 50px;
}
ul li {
  margin-bottom: 15px;
}

ul a:before {
  content: '+ ';
  color: black;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 14pt;
}
a:active,
a:focus {
  color: var(--pink);
}

a.router-link-exact-active {
  color: var(--pink);
}
a.router-link-exact-active:before {
  color: var(--pink);
}

h1 {
  color: black;
  margin-right: 10px;
}

@media screen and (min-width: 701px){
  .closebtn{
    display: none;
  }
}

@media screen and (max-width: 700px){
  .sidebar {
    width: 0;
    padding: 0;
    overflow: hidden;
  }

}
</style>