<template>
  <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(var(--pink), var(--pink), var(--purple));
}
body {
  color: white;
  text-align: center;
  max-width: 100%;
  margin: 0;
  height: 100%;
}


</style>
